#buttons-view
{
	background-color: yellow;
	height: 100px;
	margin:20px;
	padding:10px;
}
#inputsection
{
	float:right;
}
#submitButton
{
	margin-top: 10px;
	background-color: yellow;
}
#gifssection
{
	background-color: black;
	height: 500px;
}
.jumbotron
{
	background-color: black;
	color: white;
	text-align: center;
	
	
}